@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #F3F4F6;
}

html.dark {
  background-color: #6B7280;
}

body {
  font-family: "Inter", sans-serif;
}

.active {
  background: #34495E;
  color: white;
}
